<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd" >

    <bean id="medicHibernate" class="persistance.jdbc.MedicHibernateRepository"/>
    <bean id="medicamentHibernate" class="persistance.jdbc.MedicamentHibernateRepository"/>
    <bean id="comandaHibernate" class="persistance.jdbc.ComandaHibernateRepository"/>
    <bean id="farmacistHibernate" class="persistance.jdbc.FarmacistHibernateRepository"/>


    <bean id="service" class="server.ServiceImplementation">
        <constructor-arg ref="medicHibernate" />
        <constructor-arg ref="medicamentHibernate" />
        <constructor-arg ref="comandaHibernate" />
        <constructor-arg ref="farmacistHibernate" />

    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">

        <property name="serviceName" value="Spital"/>
        <property name="service" ref="service"/>
        <property name="serviceInterface" value="services.IServices"/>
        <property name="servicePort" value="1099"/>
    </bean>

</beans>